	{% include 'base/header.html' %}

	<div class="jumbotron text-center">
		<h1><img src="/static/images/welcome.png" style="height: 80px;"> Welcome <img src="/static/images/welcome.png" style="height: 80px;"></h1>
		<!-- <div class="loader"></div> -->
		<strong><h3> Hello {{data.name}} </h3></strong><br>
		   <form action="/user/search" method="POST"> 
			<input type="text" name="name" placeholder="Enter name" style="width: 500px; height: 30px; color: black;" required>	
			<a href="#" class="btn1 btn-default btn-lg" style="border-radius: 8px; height: 40px;">	
			<span class="glyphicon glyphicon-search" style="color: f4511e;"></span>
			Search</a>
     </form> <br> 
	</div>

	{% include 'base/footer.html' %}
