
<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style>
		.jumbotron{
			background-color: pink;
		}
		.glyphicon{
			color: red;
		}
	</style>
</head>
<body>
 <div class="jumbotron text-center">
 	<h1>Chouse options</h1><br><br>
 	 <span class="glyphicon glyphicon-asterisk"></span> <a href="/user/register_page"> Register</a><br>
    <span class="glyphicon glyphicon-asterisk"></span> <a href="/user/login_page"> Login</a>
 </div>
</body>
</html>
