  {% include 'base/header.html' %}

    <div class="jumbotron text-center">
        <div class="col-md-6">
            <img src="static/images/signin-image-jpg">
        </div>
        <div class="col-md-6">
                <form action="/user/login" method="POST">
                <input type="email" name="email" placeholder="Enter E-mail"><br><br>
                <input type="password" name="password" placeholder="Enter password"><br><br>
              <input type="submit" value="Login">
            </form>
        </div>
    </div>
    {% include 'base/footer.html' %}