	{% include 'base/header.html' %}

	<div class="jumbotron text-center profie_background">
		{% if data.user_profile_image %}
		<img src="/static/images/uploads/profile/{{data.user_profile_image}}" style="border-radius: 50px;" height="100px;" width="100px">
		{% else %}
		  <span class="glyphicon glyphicon-user" style="font-size: 70px;"></span><br>
		{% endif %}
		<form  action="/user/upload_img/{{data.user_id}}"  class="text-center container" method="POST" enctype="multipart/form-data" style="margin-left: 45%;">
			<input type="file" name="file" class="form"><br>
			<input type="submit" value="upload image" class="form" style="margin-right: 100%; ">
		</form>
		<div class="container text-center">
			<form action="/user/update/{{data.user_id}}" method="POST">
				<input type="text" name="name" value="{{data.name}}" class="form"><br><br>
				<input type="email" name="email" value="{{data.email}}" class="form"><br><br>
				<input type="text" name="phone" value="{{data.phone}}" class="form"><br><br>
				<!-- <input type="radio" name="gender" value="{{data.gender}}"> -->
				<input type="submit" value="Update" class="btn2" style="color: white; height: 40px; width: 100px;"><br>
			</form>
			<button type="button" class="btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="height: 40px; border-radius: 5px;">Change password</button>
			
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 2%;">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title form" id="exampleModalLabel">Change password</h2>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" action="/user/change_password/{{data.user_id}}" method="post">
								<div class="form-group">
									<label class="control-label col-sm-3 form">Old password:</label>
									<div class="col-sm-9">
										<input type="password" name="old password" class="form-control" id="password" placeholder="Enter old password">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3 form">New password:</label>
									<div class="col-sm-9">
										<input type="password" name="new password"  class="form-control" id="password" placeholder="Enter new password">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3 form">confirm password:</label>
									<div class="col-sm-9">
										<input type="password" name="confirm password" class="form-control" id="password" placeholder="Enter confirm password">
									</div>
								</div>

								<div class="modal-footer">
									<button type="button" class="btn-secondary" data-dismiss="modal" style="background-color: red;">Close</button>
									<button type="submit" class="btn-primary">Change</button><br>
									{{error}}
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
		{% include 'base/footer.html' %}