<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
</head>
<body>
	<center><h1>Registration form</h1>
<form action="/user/register" method="POST">
	<input type="text" name="name" placeholder="Enter Name"><br><br>
	<input type="email" name="email" placeholder="Enter E-mail"><br><br>
	<input type="password" name="password" placeholder="Enter password"><br><br>
	<input type="number" name="phone" placeholder="Enter phone number"><br><br>
	<label>Gender</label><br>
	<input type="radio" name="male" value="m">Male</input>
	<input type="radio" name="female" value="f">Female</input><br><br>	
	<input type="submit" value="Register">

</form>
</center>
</body>
</html>