{% include 'base/header.html' %}

  
  <div class="jumbotron text-center">
    <h1> Search page </h1> <br> <br>
  </div>
  <div class="container">
    {% for dict_item in results %}
    {% for key, value in dict_item.items() %}
    {% if key == "user_id" %}
   
    
    
    {% endif %}
    <table id="t1" class="table table-striped table-bordered" width="100%"> 
     <thead>
        <tr>
          <th>{{key}}</th> 
          <th>
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{value}}</td>
          <td>             
            <form action="/user/update_page/{{value}}" method="GET">  
              <span class="glyphicon glyphicon-pencil"></span> <input type="submit" value="Update" class="btn2">
           </form>
           <form action="/user/delete/{{value}}" method="POST"> 	
            <span class="glyphicon glyphicon-trash"></span> <input type="submit" value="Delete" class="btn3">
         </form> 
          </td>
        </tr>
      </tbody>
      {% endfor %}
      <hr>
      {% endfor %}
    </table>
  
  </div>
  {% include 'base/footer.html' %}
