<hr>
<footer style="background-color: silver;" class="text-center">
  <p class="text-center" style="padding-top: 2%; font-size: 20px;">© 2024 flask api. All Rights Reserved | Design by<a href="https://mentorx.online/" style="color: #f4511e;"> mentorX</a></p><br>
  <p class="text-center" style="font-size: 17px;">Thanks for visit our site 
    <a href="https://www.linkedin.com/company/mentorxpro/"><i class="fa fa-linkedin" style="color: dodgerblue;"></i></a>
    <a href="https://mentorx.online/"><img src="/static/images/logo.png" style="height: 20px;"></a>
  </p>
  </footer>

</body>
</html>